body{
    background-image: url(https://dm0qx8t0i9gc9.cloudfront.net/previews/image/rDtN98Qoishumwih/brown-dirt-minecraft-pattern_PMNW.jpg)
}

h1{
    text-align: center;
    color: white;
    font-size: 60px;
}


div a{
    text-align: center;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.error422{
    display: flex;
    justify-content: center;
}

p{
    background-color: white;
    color: black;
}

img{
    width: 350px;
}